@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  height: 100%;
  line-height: 1.2;
  background: linear-gradient(
      0deg,
      rgba(253, 160, 0, 0.88),
      rgba(253, 160, 0, 0.88)
    ),
    linear-gradient(
      180deg,
      rgba(211, 32, 139, 0) 30.5%,
      rgba(211, 32, 139, 0.79) 100%
    ),
    linear-gradient(0deg, rgba(135, 154, 242, 0.67), rgba(135, 154, 242, 0.67));
}

body {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 400;
}
